<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/styles.css" />
  <title>Iniciar Sesión</title>
</head>
<body>
  <div class="container">
    <h1>Biblioteca</h1>
    <h2>Iniciar Sesión</h2>
    <input type="text" id="user" placeholder="Usuario" />
    <input type="password" id="pass" placeholder="Contraseña" />
    <button id="loginBtn"">Entrar</button>
    <p id="mensaje" class="mensaje"></p>
    <p>¿No tienes cuenta? <a href="register.html">Regístrate</a></p>
  </div>
  <script type="module" src="../controllers/login.controller.js"></script>
</body>
</html>
