<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles.css" />
  <title>Menú</title>
</head>
<body>
  <div class="container">
    <h1>Menú Principal</h1>
    <button onclick="location.href='add-book.html'">Registrar Libro</button>
    <button onclick="location.href='search-book.html'">Buscar Libro</button>
    <button onclick="location.href='interactions-users.html'">Interacciones por usuario</button>
    <button onclick="location.href='interactions-book.html'">Interacciones por libro</button>
    <button onclick="location.href='login.html'">Cerrar Sesión</button>
  </div>
</body>
</html>
