<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/styles.css" />
  <title>Registro</title>
</head>
<body>
  <div class="container">
    <h1>Biblioteca</h1>
    <h2>Registro de Usuario</h2>
    <input type="text" id="newUser" placeholder="Nuevo Usuario" />
    <input type="password" id="newPass" placeholder="Contraseña" />
    <button  id="registerBtn">Registrarse</button>
    <p id="mensaje" class="mensaje"></p>
    <p><a href="login.html">Volver al inicio</a></p>
  </div>
  <script type="module" src="../controllers/register.controller.js"></script>
</body>
</html>
